<!DOCTYPE html>
<html>
<head>
  <title>TinderForFriends</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<div class="logo">TFF</div>
		<div class="links-container">
			<a>New Friends</a>
			<a>Chats</a>
			<% if current_user %>
				<a>Profile</a>
				<%= link_to 'Sing out', '/signout' %>
			<% else %>
				<%= link_to 'Login', '/login' %>
				<%= link_to 'Sing up', '/signup' %>
			<% end %>
		</div>
	</nav>

<%= yield %>

</body>
</html>
