<!DOCTYPE html>
<html>
<head>
  <title>TinderForFriends</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<div class="logo">TFF</div>
		<div class="links-container">
			<%= link_to 'New Friends', 'new-friends' %>
			<%= link_to 'Chats', '/chats' %>
			<% if current_user %>
				<%= link_to 'Profile', '/profile' %>
				<%= link_to 'Sign out', '/logout' %>
			<% else %>
				<%= link_to 'Login', '/login' %>
				<%= link_to 'Sign up', '/signup' %>
			<% end %>
		</div>
	</nav>

<%= yield %>

</body>
</html>
